/* hero */
.hero {
	margin-bottom: 70px;
}

.top-products > .container {
	/* max-width: 1280px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 24px; */
}

/* product card */

.product-wrapper {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;

	position: relative;

	transition: all 0.35s ease-in-out;
}
.product-wrapper:hover {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.product-wrapper .img-wrapper {
	cursor: pointer;
	overflow: hidden;
}

.product-wrapper .img-wrapper img {
	width: 100%;
	object-fit: cover;
}

.product-wrapper .product-info {
	display: flex;
	flex-direction: column;

	padding: 12px;

	gap: 12px;
}

.product-wrapper .size-color,
.product-wrapper .sell-info {
	display: flex;
	justify-content: space-between;
}

.product-wrapper .price {
	font-size: 16px;
}
.product-wrapper .sold {
	color: red;
}

.product-wrapper .name {
	cursor: pointer;
}

.product-wrapper .name:hover {
	color: purple;
}

.product-wrapper .icons {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	padding: 0 12px;
	right: 0;

	padding-top: 12px;
}

.label {
	background-color: #18b460;
	border-radius: 2px;
	width: 42px;
	height: 22px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
}

/* banner */
.banner {
	overflow: hidden;
	margin-top: 70px;
	margin-bottom: 70px;
}

.banner > .container {
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	height: 750px;

	transition: all 0.35s ease;
}

.banner > .container:hover {
	transform: scale(1.1);
}

/* carousel */
.carousel-item {
	/* display: none; */

	opacity: 0;
	position: absolute;
	transition: all 0.5s ease-in-out;
}
.active.carousel-item {
	/* display: block; */
	opacity: 1;
}

#heroCarousel {
	position: relative;
	height: 750px;
}

#carouselDots {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-top: 24px;

	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.dot {
	width: 24px;
	height: 24px;
	padding: 7px;
	border-radius: 50%;
	background: #333;
	background-clip: content-box;
	cursor: pointer;
}
.dot.active {
	border: 1px solid var(--text-color);
}
