/* header */
.header {
	height: 70px;
	border-bottom: 1px solid #ddd;
}

.header > .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	max-width: 1280px;
	margin: auto;
}

#logo {
	width: 96px;
	height: 60px;
}

nav#navbar {
	height: 100%;
}

ul.nav-list {
	height: 100%;
}

.navbar ul {
	display: flex;
	gap: 24px;
}

.navbar ul li {
	display: flex;
}

.navbar ul li a {
	text-transform: uppercase;
	font-size: 1.1rem;

	display: flex;
	align-items: center;

	position: relative;
}

.navbar ul li a::after {
	content: "";

	width: 0%;
	height: 2px;

	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #333;

	transition: all 0.35s ease-in-out;
}

.navbar ul li a:hover::after {
	width: 100%;
}

.header .toolbar {
	display: flex;
	align-items: center;
	gap: 24px;
}

.header .toolbar .search-wrapper {
	position: relative;
}

.header .toolbar .search-wrapper .search-icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.4rem;
}

.header .toolbar .search-wrapper .search-input {
	width: 200px;
	height: 40px;
	background-color: #ddd;
	border-radius: 4px;
	padding: 12px 12px 12px 40px;
	border: none;
	outline: none;
}

.header .toolbar .search-wrapper .search-input:focus {
	background-color: #eee;
}

.header .toolbar .buttons {
	display: flex;
	align-items: center;
	gap: 24px;
}

.header .toolbar .buttons .btn {
	cursor: pointer;
}
.header .toolbar .buttons .btn > i {
	font-size: 1.3rem;
}

/* hero */
.hero {
	margin-bottom: 70px;
}

.top-products > .container {
	max-width: 1280px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

/* product card */

.product-wrapper {
	display: flex;
	flex-direction: column;
	width: 302px;
	border: 1px solid #ddd;

	position: relative;

	transition: all 0.35s ease-in-out;
}
.product-wrapper:hover {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.product-wrapper .img-wrapper {
	cursor: pointer;
	overflow: hidden;
	height: 302px;
}

.product-wrapper .img-wrapper img {
	width: 100%;
	object-fit: cover;
}

.product-wrapper .product-info {
	display: flex;
	flex-direction: column;

	padding: 12px;

	gap: 12px;
}

.product-wrapper .size-color,
.product-wrapper .sell-info {
	display: flex;
	justify-content: space-between;
}

.product-wrapper .price {
	font-size: 16px;
}
.product-wrapper .sold {
	color: red;
}

.product-wrapper .name {
	cursor: pointer;
}

.product-wrapper .name:hover {
	color: purple;
}

.product-wrapper .icons {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 0;
	left: 0;
	padding: 0 12px;
	right: 0;

	padding-top: 12px;
}

.label {
	background-color: #18b460;
	border-radius: 2px;
	width: 42px;
	height: 22px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
}

/* banner */
.banner {
	overflow: hidden;
	margin-top: 70px;
	margin-bottom: 70px;
}

.banner > .container {
	background-image: url(./assets/images/banner.jpg);
	background-size: cover;
	background-position: center;
	height: 750px;

	transition: all 0.35s ease;
}

.banner > .container:hover {
	transform: scale(1.1);
}

/* footer	 */
.footer {
	padding: 12px 0 24px 0;
}
.footer .container {
	width: 960px;
	margin: auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.logo-wrapper {
	width: 110px;
	height: 70px;
}

.footer-left {
	display: flex;
	flex-direction: column;
	gap: 24px;

	margin-top: 36px;
}
.footer-left .title {
	text-transform: uppercase;
	font-size: 1.2rem;
}

.footer-left .list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.footer-right {
	display: flex;
	flex-direction: column;
	gap: 18px;

	line-height: 1.6rem;
	color: var(--text-color);
}

.footer-right .company-name {
	font-weight: bold;
	text-transform: uppercase;
}

.footer-right .email {
	font-weight: bold;
}
.footer-right .email a {
	text-decoration: underline;
	color: var(--link-color);
}

.footer-right .phone-number {
	text-decoration: underline;
	font-weight: bold;
	color: var(--link-color);
}

.footer-right .hotline a {
	text-decoration: underline;
	font-weight: bold;
	color: var(--link-color);
}

/* carousel */
.carousel-item {
	/* display: none; */

	opacity: 0;
	position: absolute;
	transition: all 0.5s ease-in-out;
}
.active.carousel-item {
	/* display: block; */
	opacity: 1;
}

#heroCarousel {
	position: relative;
	height: 750px;
}

#carouselDots {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-top: 24px;

	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.dot {
	width: 24px;
	height: 24px;
	padding: 7px;
	border-radius: 50%;
	background: #333;
	background-clip: content-box;
	cursor: pointer;
}
.dot.active {
	border: 1px solid var(--text-color);
}
